<?xml version="1.0" ?>
<!--
/**
* @author Karen Rumbie 
* @copyright Copyright © Karen Rumbie Creatives
* @package KarenRumbie_MiniCartSlider
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
   <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="KarenRumbie_MiniCartSlider::config_karenrumbie_minicartslider" title="KarenRumbie Minicart slider" translate="title" />
            </resource>
        </resources>
    </acl>
</config>