<?xml version="1.0" ?>
<!--
/**
* @author Karen Rumbie 
* @copyright Copyright © Karen Rumbie Creatives
* @package KarenRumbie_MiniCartSlider
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="KarenRumbie_MiniCartSlider" setup_version="1.0.0">
		<sequence>
			<module name="Magento_Checkout" />
		</sequence>
	</module>
</config>