<?xml version="1.0" ?>
<!--
/**
* @author Vectra Team
* @copyright Copyright © Vectra Business Technologies
* @package Vectra_MiniCartSlider
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="vectra" sortOrder="0" translate="label">
			<label>Vectra</label>
		</tab>
        <section id="minicartslider" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="10" translate="label">
            <label>Minicart slide out</label>
            <tab>vectra</tab>
            <resource>Vectra_MiniCartSlider::config_vectra_minicartslider</resource>
            <group id="config_general" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                <label>General</label>
                <field id="minicartslider_enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="0" translate="label" type="select">
					<label>Enable Mini Cart Slider</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>

                <group id="minicart_cms" translate="label" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Minicart CMS block</label>
                    <field id="minicart_cms_enable" translate="label" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1" type="select">
                        <label>Enable block</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <tooltip>Adds the selected CMS block if minicart is empty.</tooltip>
                    </field>
                    <field id="minicart_cms_content" translate="label" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1" type="select">
                        <label>CMS block content</label>
                        <source_model>Vectra\MiniCartSlider\Model\Config\Source\CmsBlock</source_model>
                    </field>
                    <depends>
                        <field id="minicartslider_enable">1</field>
                    </depends>
                </group>
            </group>
        </section>
    </system>
</config>